@import "../sass/common.scss";
@import "../sass/reset.scss";
.wrapper {
    width: pxTorem(375px);
    height: pxTorem(650px);
    overflow: hidden;
    margin: 0 auto;
    background: #E9E9E9;
    position: relative;
    .header {
        width: 100%;
        height: pxTorem(45px);
        line-height: pxTorem(45px);
        display: flex;
        // background: #f0f;
        background: #fff;
        border-bottom: 1px solid #ccc;
        .left {
            width: 40%;
            font-size: pxTorem(16px);
            color: #ccc;
            margin-left: pxTorem(15px);
        }
        .right {
            flex: 1;
        }
    }
    .main {
        width: 100%;
        height: pxTorem(330px);
        background: #fff;
        margin-top: pxTorem(10px);
        .top {
            width: 100%;
            height: pxTorem(87px);
            line-height: pxTorem(87px);
            border-bottom: 1px solid #ccc;
            img {
                float: left;
                width: pxTorem(65px);
                height: pxTorem(65px);
                margin: pxTorem(10px);
            }
            p {
                float: left;
                font-size: pxTorem(18px);
            }
        }
        .moddle {
            width: 100%;
            height: pxTorem(239px);
            // background: #0ff;
            dl {
                width: 100%;
                height: pxTorem(60px);
                dd {
                    width: pxTorem(65px);
                    height: 100%;
                    float: left;
                    // background: #ff0;
                    img {
                        width: pxTorem(22px);
                        height: pxTorem(22px);
                        margin: pxTorem(10px) pxTorem(25px);
                    }
                }
                dt {
                    width: pxTorem(310px);
                    height: 100%;
                    float: left;
                    border-bottom: 1px solid #ccc;
                    line-height: pxTorem(60px);
                    span {
                        float: right;
                        margin-right: pxTorem(20px)
                    }
                }
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: pxTorem(60px);
        background: #313131;
        p:nth-child(1) {
            float: left;
            font-size: pxTorem(16px);
            color: #DCDCDC;
            line-height: pxTorem(46px);
            margin-left: pxTorem(10px);
        }
        span {
            float: right;
            line-height: pxTorem(60px);
            margin-right: pxTorem(20px)
        }
        p:nth-child(2) {
            float: left;
            margin-top: 70px;
            margin-left: pxTorem(-90px);
            color: #6C6C6C
        }
    }
}