@import './_minix.scss';
@import './common.scss';
.wrapper {
    // width: pxTorem(375px);
    margin: 0 auto;
    .header {
        width: 100%;
        height: pxTorem(167px);
        background-image: url('../images/banner.png');
        input {
            width: pxTorem(334px);
            height: pxTorem(20px);
            background: #fff;
            margin-left: pxTorem(20px);
            border-radius: pxTorem(10px)
        }
    }
    .main {
        .list {
            ul {
                display: flex;
                li {
                    width: 25%;
                    text-align: center;
                }
            }
        }
        .moddle {
            dl {
                display: flex;
                dd {
                    margin-left: pxTorem(40px)
                }
                dt {
                    margin-top: pxTorem(10px);
                    margin-left: pxTorem(20px);
                    line-height: pxTorem(20px)
                }
            }
        }
        .zhe {
            ul {
                display: flex;
                li {
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }
}